
      <h1>Search colleges</h1>
      <form class="form-inline">
  
          <div class="form-group">
              <label>Name</label>
              <input type="text" #nameref  name="name" />
          </div>

        <div class="form-group mar">
        <label>City</label>
                <select  #cityref name="course" >
                    <option *ngFor="let city of Cities"  [value]="city">
                        {{city}}
                    </option>
                </select>
            </div>
        
          <button class="btn btn-primary" (click)="handleClick(nameref,cityref)">Submit</button>
  
      </form>
  

  <div>
    <app-college-list [city]="cityInput" [name]="nameInput"  (collegeList)='colleges=$event'></app-college-list>
  </div>

  <div class="mar">
    <p *ngFor="let college of colleges">{{college.Name}}</p>
  </div>